h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 1rem;
}

.itemsContainer {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.8);
}

.itemsList {
  padding-left: 1rem;
}

.description {
  font-style: italic;
  color: rgba(0, 0, 0, 0.6);
  padding-left: 1rem;
}
