:root {
  --main-bg-color: rgba(203, 213, 225, 1);
  --footer-bg-color: rgba(47, 79, 79, 0.8);
  --header-bg-color: rgba(47, 79, 79, 0.8);
  --header-bg-color-active: rgba(47, 79, 79, 0.5);
  --text-color-primary:  rgba(0, 0, 0, 0.8);
}