.container {
  display: grid;
  height: 100vh;
  background: rgba(203, 213, 225, 1);
  gap: 1%;
  padding: 0.5rem 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "navbar navbar"
    "editor viewer"
    "vars viewer";
}