.wrapper {
    position: relative;
    z-index: 1;
}

.aboutProject {
    max-width: 1440px;
    padding: 0 40px;
    margin: 0 auto;
    height: 1000px;
    background-image: url('../../public/background5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.mainLog {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    position: absolute;
    color: white;
    top: 50px;
    right: 50px;
}

.link:link, .link:visited  {
    color: white;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

.mainInfo {
    position: absolute;
    top: 640px;
    max-width: 1300px;
    @media screen and (width <= 820px) {
        top: 540px;
    }
    @media screen and (width <= 620px) {
        top: 440px;
    }
}

.mainTitle {
    font-size: 34px;
    color: white;
}

.mainText {
    font-size: 20px;
    color: white;
    @media screen and (width <= 500px) {
        font-size: 14px;
    }
}

.aboutTeam {
    max-width: 1440px;
    padding: 20px 40px;
    margin: auto;
    min-height: 500px;
    background-color: lightblue;
}
