.section {
  /* height: 100px; */
  padding: 0.5rem 1.5rem;
  background-color: blanchedalmond;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.content {
  display: none;
}

.contentShow {
  display: block;
  height: 15vh;
}

.textarea {
  background-color: transparent;
}